

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
}

section {
    padding: 28px 8%;

}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00AEB3;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow:0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color .3s ease;
    color: #fff;
    text-decoration: none;

}

.btn-default:hover{
    background-color: #fff;
    color:#00AEB3

}


.label-input{
    background-color: #e8ecec;
    display: flex;
    width: 50%;
    height: 0.7cm;
    justify-content: center;
    align-items: center;
    margin: 8px;
    border: 2px #00AEB3;
    border-radius: 15px;
    border-top-right-radius: 15px; /* Define o raio da borda superior direita */
    border-bottom-right-radius: 15px;
    text-align: center;
} 

.icon-button{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    border: #00AEB3 solid 1px;
    color: #00AEB3;
    cursor: pointer;
    margin-left: 10px;
}

.icon-button:hover{
    width: 30px;
    height: 30px;
    border-radius: 40px;
    border: #00AEB3 solid 1px;
    color: #FFF;
    cursor: pointer;
    margin-left: 10px;
    background-color: #00AEB3;
}